permissions:
  contents: read
name: Build
on: 
  push:
    branches:
    - main
  workflow_dispatch:
  pull_request:
jobs:
  Build-and-Test-CDK:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - run: |
          npm ci
          npm run build
          npm run format:check
        working-directory: ./
        name: static analysis
      - run: |
          npm run test
        working-directory: ./
        name: snaphost test
